---
layout: page
categories:
  - title: Conference and Workshop Papers
    publications:
      - title: An Implementation and Semantics for Transactional Memory Introspection in Haskell
        date: 15.06.2009
        authors:
          - Arnar Birgisson
          - Úlfar Erlingsson
        venue: ACM SIGPLAN Fourth Workshop on  Programming Languages and Analysis for Security (PLAS 2009)
        pdf: http://www.hvergi.net/arnar/public/papers/plas09.pdf
        
      - title: Rule Formats for Determinism and Idempotency
        date: 15.04.2009
        authors: 
          - Luca Aceto
          - Arnar Birgisson
          - Anna Ingolfsdottir
          - MohammadReza Mousavi
          - Michel Reniers
        venue: LNCS proceedings of Fundamentals of Software Engineering 2009
        pdf: http://www.ru.is/luca/PAPERS/idempotency.pdf
        
      - title: Enforcing Authorization Policies using Transactional Memory Introspection
        date: 27.10.2008
        authors:
          - Arnar Birgisson
          - Mohan Dhawan
          - Úlfar Erlingsson
          - Vinod Ganapathy
          - Liviu Iftode
        venue: "CCS’08: Proceedings of the 15th ACM Conference on Computer and Communications Security"
        extra: "Alexandria, Virginia; October 27-31, 2008"
        pdf: http://www.hvergi.net/arnar/public/papers/ccs2008.pdf
        
  - title: Technical reports
    publications:
      - title: An Implementation and Semantics for Transactional Memory Introspection in Haskell
        date: 28.10.2008
        authors:
          - Arnar Birgisson
          - Úlfar Erlingsson
        venue: RU Technical Report CS08007
        extra: (superseded by workshop paper above)
        pdf: http://www.hvergi.net/arnar/public/papers/RUTR-CS08007_draft1.pdf
        
      - title: Enforcing Authorization Policies using Transactional Memory Introspection
        date: 18.04.2008
        authors:
          - Arnar Birgisson
          - Mohan Dhawan
          - Úlfar Erlingsson
          - Vinod Ganapathy
          - Liviu Iftode
        venue: "Technical report, Rutgers University, Dept. of C.S"
        extra: (superseded by conference paper above)
        link: http://www.cs.rutgers.edu/research/technical_reports/reports.php?action=view&amp;series_id=1&amp;report_id=628
        pdf: http://www.hvergi.net/arnar/public/papers/TMI-tr486.pdf
---
<h1 class="heading">Publications</h1>
<div class="section">

    {% for group in page.categories %}
    <h1><a>{{ group.title }}</a></h1>

    {% for pub in group.publications %}
        <div class="publication"><p>
            <span class="date">{{ pub['date'] }}</span>
            <span class="authors">{{ pub.authors | array_to_sentence_string }}.</span>
            <span class="title">{{ pub.title }}.</span>
            <span class="venue">{{ pub.venue }}.</span>
            {{ pub.extra }}
            </p>
            <ul>
                {% if pub.link %}
                    <li><a  href="{{ pub.link }}">Link</a></li>
                {% endif %}
                {% if pub.pdf %}
                    <li><a  href="{{ pub.pdf }}">PDF</a></li>
                {% endif %}
            </ul>
        </div>        
    {% endfor %}

    {% endfor %}
</div>